.changeColor {
    color: orange!important;
    font-weight:700;

}
.status {
    display:none;
}

.wrapper {
        max-width: 820px;
        margin:auto;
        background-color: $white;
    
.header {
    padding: 0px 40px;
    
    .fa {
        display: none;
    }
    .logo {
        float:left;
        padding: 20px 0px;
    }

    ul {
        float: right;
        margin: 50px 0px 0px 0px;
        border-top: 3px solid #f8f8f8;
        
            li {
                display:inline-block;
                padding: 15px 0px;
		position:relative;
                
                img {
                    position: absolute;
                    top: -25px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    }
                 a {
                    color: #ebebeb!important;
                    text-decoration: none!important;
                    font-size: 13px;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:focus {
			color:$orange!important;
                    }
                    &:hover {
			color:$orange!important;
                    }
      
                }
            }
    }
}
}

@media screen and (max-width:1024px) {
.status {
    text-align: center;
    font-size: 20px;
    color: #cecece;
    display: block;
}
    .wrapper {
    
.header {

    .logo {
        float:none;
        
        img {
            margin:auto;
            text-align: center;
            padding: 20px 0px;
        }
    }
    
    .fa {
          display: none;
          float: right;
          font-size: 30px;
          margin-top: -55px;
          cursor: pointer;
    }

    ul {
        display: none;
        float: none;
        margin: 20px 0px;
        border-top: none;
        width:100%;
//        display: block;
        
            &:before {
                
            }

            li {
                display:block;
                padding: 15px;
                width:100%;
                text-align: center;
                
                &:hover {
                    background-color: $dark-brown;
                }
                
                a {
                    color:$grey;
                    font-size: 15px;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                img {
                    display: none;
                }
            }
    }
}
}
}

@media screen and (max-width:767px) {
    .wrapper {
    
        .header {
              padding: 0px 0px;
            }

            .fa {
                  margin-right: 20px;
            }
}
}
